@page "/"

<PageTitle>Chaining algorithms demo tool</PageTitle>

<p>Welcome to the forward/backward chaining algorithm demonstration tool!</p>
<p>This tool allows you to easily create and edit knowledge bases, manage, add, update or remove production rules and facts, infer goals and see detailed output of both chaining algorithms in trace mode.</p>
<p>Enjoy!</p>
